<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Person App</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <h1>Person App</h1>
      <%- body %>
    </div>
  </body>
</html>
